In [1]:
import pandas as pd 
pd.__version__

'0.23.4'

In [5]:
#1.how to create a series from a list, numpy array and dict
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr)) # zip(mylist, myarr) is iterable
ser3 = pd.Series(mydict)
ser3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [6]:
dict??

In [7]:
iterable = (('a',4),('b',5),('c',6))
dict(iterable)

{'a': 4, 'b': 5, 'c': 6}

In [ ]:
x = dict(name = "John", age = 36, country = "Norway")

In [ ]:
#represent sparse dict?
mydict = [
    {'a':1, 'c':1},
    {'b':1},
    {'a':1,'c':1}
]
pd.DataFrame(mydict,['b','a','c'])

In [ ]:
# series vs list
display(pd.Series([1,2,3])*2)
display([1,2,3]*2)

In [10]:
#2.how to convert the index of a serires into a coluns of dataframe
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [21]:
#3.How to combine many series to form a dataframe
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name ="alphabet")
ser2 = pd.Series(np.arange(26), name="number")
ser = pd.concat([ser1,ser2], axis=1)
ser.head()

  alphabet  number
0        a       0
1        b       1
2        c       2
3        e       3
4        d       4

In [18]:
# 5.how to assign name to the series' index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head()

In [25]:
#6.HOw to get the items of series A not present inseries B?
# subtract with seiries
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [32]:
# 7.How to et the items not ocmmon to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#first way
ans1 = pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]], axis = 0) 
display(ans1)
#second way (better)
ser_u = pd.Series(np.union1d(ser1,ser2))
ser_i = pd.Series(np.intersect1d(ser1,ser2)) 
ans2= ser_u[~ser_u.isin(ser_i)]
display(ans2)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [36]:
ser1 = pd.Series([1, 2, 3, 4, 5])
display(np.array(ser1))
display(ser1.tolist())
display(ser1.to_frame())

array([1, 2, 3, 4, 5], dtype=int64)

[1, 2, 3, 4, 5]

   0
0  1
1  2
2  3
3  4
4  5

In [38]:
#How to get the minimum,25th percentile, medin, 75th, and max of a numeric series?
ser = pd.Series(np.random.normal(10,5,25))

0      9.663995
1     -0.907455
2     11.026663
3     10.362177
4      7.928846
5     17.662467
6      6.850186
7     10.996400
8      0.568069
9      9.443311
10     8.030725
11    10.735895
12    -0.689839
13    16.883624
14    14.796741
15     8.318242
16     9.484526
17     6.378014
18     9.813658
19     4.135096
20    10.134636
21    15.596871
22    16.709833
23     5.445745
24     8.948952
dtype: float64

In [39]:
np.random.normal??

In [62]:
#How to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8,size=30)))
display(ser[:5])
display(ser.value_counts())

0    h
1    g
2    d
3    d
4    c
dtype: object

h    8
f    6
e    4
d    4
b    3
c    2
a    2
g    1
dtype: int64

In [56]:
np.take??

In [45]:
np.take(list('abcdefgh'), np.random.randint(8,size=30))

array(['d', 'd', 'd', 'h', 'c', 'h', 'b', 'a', 'c', 'f', 'c', 'c', 'h',
       'c', 'b', 'a', 'f', 'g', 'e', 'f', 'b', 'a', 'f', 'e', 'g', 'f',
       'e', 'a', 'b', 'f'], dtype='<U1')

In [60]:
x = [[1,1],
    [2,2],
    [3,3]]
np.take(np.array(x), np.array([1,1,1]), axis = 1)

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [61]:
np.array(x).shape

(3, 2)

In [ ]:
# numpy is like rubic
#     >[good at move all elements in dimension together]
# dictionary is like dictionary
#     >[there is no constraint between keys such as keys must have same length of val (aka square)]
#     >[specify val by key/category]
# list is like basket of goods. 
#     >[best to move things around unordered]
# series is like vector. 
#     >[each element is independent of each other]
#     >[group operation can be applied to the whole vector]
#     >[vector has name/purpose eg. speed, distance]
# DataFrame is like chess board.
#     >[easy to specify specific location]
#     >[organize things by col and row name]
#     >[square]

In [68]:
#10. How to keep only top 2 most frequent values as it is 
# an replace everything else as Other
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1,5,[12]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0     Other
1     Other
2         2
3         4
4     Other
5         4
6     Other
7         2
8         2
9         4
10        2
11        4
dtype: object

In [73]:
#11.How to bin a numeric serires to 10 groiups of equal size?
# > produce quantile between min and max of the given values member
ser = pd.Series(np.random.random(20))
# print(ser)

#solution
q = pd.qcut(ser, q= [0,.10,.20,.3,.4,.5,.6,.7,.8,.9,1],
       labels=['a','b','c','d','e','f','g','h','i','j'])
print(pd.concat([ser,q], axis =1))

           0  1
0   0.263781  b
1   0.216087  a
2   0.585946  g
3   0.325403  d
4   0.878648  i
5   0.900255  j
6   0.767050  i
7   0.343992  d
8   0.418985  e
9   0.747679  h
10  0.122790  a
11  0.560688  f
12  0.561006  f
13  0.974725  j
14  0.222272  b
15  0.464820  e
16  0.273501  c
17  0.299270  c
18  0.717216  g
19  0.744571  h

In [75]:
pd.qcut??

In [95]:
# 12. How to convert a numpy array to a datafram of given shape
ser = pd.Series(np.random.randint(1, 10, 35))

#solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(type(df))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [93]:
df = pd.DataFrame(np.random.randint(1, 10, 35).reshape((7,5)))
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3  4
0  3  6  3  6  7
1  9  5  9  2  5
2  9  2  8  9  8
3  7  6  8  2  7
4  6  8  4  1  4
5  9  1  8  8  5
6  1  1  6  2  6

In [90]:
pd.DataFrame??

In [106]:
# How to find the positions of numbers tht are ultiples of 3 from a sereis
ser = pd.Series(np.random.randint(1,10,7))
print(ser.head())
np.argwhere(ser% 3==0) #index
# x = ser%3
# ser[ 0]

0    9
1    7
2    1
3    6
4    9
dtype: int32

array([[0],
       [3],
       [4]], dtype=int64)

In [109]:
#How to extract item at given positions from a series
ser = pd.Series(list('s;ldkfjsd;klf'))
pos = [0,4,8,1,2]

ser[pos]

0    s
4    k
8    d
1    ;
2    l
dtype: object

In [110]:
#15. how to stack two sereis vertically and horizontally
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

#horizontal
ser1.append(ser2)
#vertical
df = pd.concat([ser1,ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [135]:
#How to get the positions of items of series A in another series B ? 
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[np.where(i==ser1)[0].tolist()[0] for i in ser2]
[np.argwhere(i==ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [117]:
np.where??

In [133]:
np.argwhere??

In [137]:
#17. How to compute the mean squared error on a truth and predicted series
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.2508715345407046

In [141]:
x = pd.Series([1,2,3,4,4,4,4,3,3,2,2,4,5,1])
np.where(x < 2, True, False)

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False,  True])

In [148]:
#18. How to convert the first character of each element in a seiries to uppercase
ser = pd.Series(['how','to','kick','ass?'])

#solution 1 
ser.map(lambda x:x.title())

#solution 2 
ser.map(lambda x:x[0].upper() + x[1:])

#solution 3 
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [149]:
#19. How to calculate the number of charcter in each word in a series ?
ser = pd.Series(['how','to','kcik','ass?'])
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [154]:
#20. How to computer difference of differences between consequtive numbers of a series?
ser = pd.Series([1,2,3,4,5,56,53,23,45])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 1.0, 1.0, 1.0, 1.0, 51.0, -3.0, -30.0, 22.0]
[nan, nan, 0.0, 0.0, 0.0, 50.0, -54.0, -27.0, 52.0]

In [157]:
#How to convert a series of data-strings to a timeseries? 
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

#solution 1 
from dateutil.parser import parse
ser.map(lambda x :parse(x))

#solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [161]:
#22. How to get the dat of month, week nuber ,dat of uear and day of week
# from a series of data strings

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

#solution
ser_ts = ser.map(lambda x:parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

In [168]:
ser_ts.dt?? #datetime object

In [169]:
#23. How to conert year-month string to dates corresponding to the 4th day
# of the month?
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

#solution 
ser.map(lambda x:parse('04'+x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [170]:
#24. How to filter words that ocntain atleast 2 owels from a series?
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

#solution 
from collections import Counter
mask = ser.map(lambda x:sum([Counter(x.lower()).get(i,0) for i in list('aeiou')])>=2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [192]:
[Counter("apple".lower()).get(i,True) for i in list('aeiou')]

[1, 1, True, True, True]

In [ ]:
#How to filter valid emails from a series?